.conte {
  background: white;
  margin-left: 20px;
  margin-top: 30px;
}

p.cnt {
  margin-left: 20px;
  text-decoration: underline;
  font-size: 23px;
  color: var(--ion-color-primary);
}
.contact {
  background: #d3d3d33b;
}

.contact-cont {
  padding-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
}
.card {
  border-radius: 10px;
  padding-left: 18px;
  padding-top: 2px;
  background: white;
  padding-bottom: 10px;
  margin-bottom: 34px;
}

img.con-im {
  height: 320px;
}
.info_title {
  font-weight: bold;
  color: gray;
  font-size: 13px;
}

.conte {
  border-radius: 10px;
  padding-left: 18px;
  padding-top: 2px;
  height: 99px;
  -webkit-box-shadow: 5px 2px 36px 5px #d7d8da;
  -moz-box-shadow: 5px 2px 36px 5px #d7d8da;
  margin-bottom: 40px;
  width: 81%;
}

p.conte-txt {
  font-weight: bold;
}

ion-icon.icn-cu.ios.hydrated {
  background: gray;
  border-radius: 60px;
  padding: 7px;
  color: white;
  font-size: 20px;
}

ion-icon.icn-cu.md.hydrated {
  background: gray;
  border-radius: 60px;
  padding: 7px;
  color: white;
  font-size: 20px;
}

button.cus-send-btn {
  float: right;
  margin-top: 8px;
  background: black;
  color: white;
  border-radius: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 15px;
}
