<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762441456526-0ddthv436krh84nmjicdvng2kvpkrvoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762441456526-0ddthv436krh84nmjicdvng2kvpkrvoc</string>
	<key>API_KEY</key>
	<string>AIzaSyBeNRPwAUXQlYb81taa_vwWoCEvUHgiROE</string>
	<key>GCM_SENDER_ID</key>
	<string>762441456526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opyix.app</string>
	<key>PROJECT_ID</key>
	<string>opyix---shubam</string>
	<key>STORAGE_BUCKET</key>
	<string>opyix---shubam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762441456526:ios:c360aa0ac5a2c74dcda2df</string>
</dict>
</plist>