.conte {
  background: white;
  margin-left: 20px;
  margin-top: 30px;
}

p.cnt {
  margin-left: 20px;
  text-decoration: underline;
  font-size: 23px;
  color: var(--ion-color-primary);
}
.contact {
  background: #d3d3d33b;
}

ion-content.ios.overscroll.hydrated {
  --background: #d7d8da;
}

ion-content.md.overscroll.hydrated {
  --background: #d7d8da;
}
.contact-cont {
  padding-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
}
.card {
  border-radius: 10px;
  padding-left: 18px;
  padding-top: 2px;
  background: white;
  padding-bottom: 10px;
}

img.con-im {
  height: 320px;
}
.info_title {
  font-weight: bold;
  color: gray;
  font-size: 13px;
}

.info_data {
  margin-top: -13px;
}

.conte {
  width: 201px;
  border-radius: 10px;
  padding-left: 18px;
  padding-top: 2px;
  height: 99px;
}

p.conte-txt {
  font-weight: bold;
}
