<ion-header>
  <ion-toolbar>
    <ion-title> Privacy Policy </ion-title>

    <ion-buttons slot="end" (click)="close_()">
      <ion-icon class="cart_icn" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container__">
    <div
      class="elementor-element elementor-element-e577808 elementor-widget elementor-widget-heading"
    >
      <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">
          Why we have policies and where to find them
        </h2>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-4c384aa elementor-widget elementor-widget-text-editor"
    >
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <p>
            <span class="has-inline-color has-very-dark-gray-color"
              >Our marketplace list hundreds of items for sale, across all
              different categories, at any one time. As a buyer you have the
              option to either buy at a “Buy Now” price, or an Auction
              price.</span
            >
          </p>
          <p>
            <span class="has-inline-color has-very-dark-gray-color"
              >We have designed some rules and policies to allow for an orderly
              transactioning. We expect all
              <a href="https://opyix.com/">Opyix.com</a> visitor to abide by
              these policies.</span
            >
          </p>
          <ul>
            <li>
              <a href="https://opyix.com/terms-and-conditions/"
                ><span class="has-inline-color has-very-dark-gray-color"
                  >Terms &amp; Condition</span
                ></a
              >
            </li>
            <li>
              <span class="has-inline-color has-very-dark-gray-color"
                >Privacy policy</span
              >
            </li>
            <li>
              <span class="has-inline-color has-very-dark-gray-color"
                >Sellers policy</span
              >
            </li>
            <li>
              <span class="has-inline-color has-very-dark-gray-color"
                >Buyers policy</span
              >
            </li>
            <li>
              <span class="has-inline-color has-very-dark-gray-color"
                >Feedback rules</span
              >
            </li>
            <li>
              <span class="has-inline-color has-very-dark-gray-color"
                >Account suspension</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-e657296 elementor-widget elementor-widget-heading"
    >
      <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">
          Terms and Condition
        </h2>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-dc31d07 elementor-widget elementor-widget-text-editor"
    >
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <p>
            Our terms &amp; condition sets out the terms that all Opyix members
            must follow if they want to use our services.
          </p>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-16e2f63 elementor-widget elementor-widget-heading"
    >
      <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">
          Privacy Policy
        </h2>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-b39ad4d elementor-widget elementor-widget-text-editor"
    >
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <p>
            <span class="has-inline-color has-very-dark-gray-color"
              >Our privacy policy details how we collect, use, disclose, retain
              and protect your personal information.</span
            ><span style="color: #313131; font-size: 18px"
              >It includes our privacy standards, as a commitment to protect
              your private information regardless of how it is collected or
              stored by any of our businesses.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-dab603e elementor-widget elementor-widget-heading"
    >
      <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">
          Sellers Policy
        </h2>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-1453c17 elementor-widget elementor-widget-text-editor"
    >
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <p>
            <span class="has-inline-color has-very-dark-gray-color"
              >Our rules and policies help to create a safer, fair and enjoyable
              trading experience for all Opyix members. Understanding them can
              help you avoid problems and be a more effective seller.</span
            >
          </p>
          <ul>
            <li>
              <a href="https://opyix.com/prohibited-restricted-products/"
                ><span class="has-inline-color has-very-dark-gray-color"
                  >Prohibited and restricted items</span
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-b6d4cb9 elementor-widget elementor-widget-heading"
    >
      <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">
          Buysers Policy
        </h2>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-9312739 elementor-widget elementor-widget-text-editor"
    >
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <ul>
            <li>
              <p>
                <span class="has-inline-color has-very-dark-gray-color"
                  >Buyers need to accept and follow our rules and policies
                  before they can bid on or buy an item on our platform. This
                  helps ensure a smoother, more enjoyable transaction for both
                  buyers and sellers.</span
                >
              </p>
              <ul>
                <li>
                  <span class="has-inline-color has-very-dark-gray-color"
                    >Buying practices policy</span
                  >
                </li>
                <li>
                  <span class="has-inline-color has-very-dark-gray-color"
                    >Bid policy</span
                  >
                </li>
                <li>
                  <span class="has-inline-color has-very-dark-gray-color"
                    >Malicious buying policy</span
                  >
                </li>
                <li>
                  <span
                    class="has-inline-color has-very-dark-gray-color"
                    style="color: #ff0000"
                    ><a
                      style="color: #ff0000"
                      href="https://opyix.com/return/"
                      target="_blank"
                      rel="noreferrer noopener"
                      >Returns Policy</a
                    ></span
                  >
                </li>
                <li>
                  <span class="has-inline-color has-very-dark-gray-color"
                    >Unpaid item policy</span
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-da71e2c elementor-widget elementor-widget-heading"
    >
      <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">
          Feedback rules
        </h2>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-66c212a elementor-widget elementor-widget-text-editor"
    >
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <ul>
            <li>
              <p>
                We want Feedback to be an open and honest way to share your
                experiences with other members. However, there are some things
                we won’t allow, such as abusive language.
              </p>
              <p>
                We may remove Feedback in cases where we believe the Feedback
                breaches our policies. Feedback will be automatically removed
                when a buyer leaves Feedback on a transaction with a case
                decided in the seller’s favour
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-673c777 elementor-widget elementor-widget-heading"
    >
      <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">
          Suspended or restricted Account
        </h2>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-1f75e11 elementor-widget elementor-widget-text-editor"
    >
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <ul>
            <li>
              <p>Account suspensions are usually for one of three reasons:</p>
              <ul>
                <li>Non-payment of Opyix fees.</li>
                <li>Use of abusive language</li>
                <li>Detection of fraudulent and/or malicious activities</li>
                <li>A serious violation of one of our rules and policies.</li>
              </ul>
              <p>
                If your account has been suspended and you’re not sure why,
                you’ll find could contact us on
                <a
                  href="https://opyix.com/policy-2/info@opyix.com"
                  target="_blank"
                ></a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ion-content>
