.order {
    .grand-total {
        font-weight: 900;
    }
}

.sc-ion-label-ios-h.sc-ion-label-ios-s.ios.hydrated {
    font-size: 17px;
}

.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    font-size: 17px;
}